name: Generate SVG

on:
  schedule:
    # Runs every day at 03:00 UTC
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore

      - name: Run generator
        run: dotnet run
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

      - name: Commit & push changes
        run: |
          if git status --porcelain | grep .; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"

            git add .
            git commit -m "chore: update generated SVG"
            git push
          else
            echo "No changes to commit"
          fi
